@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body	{
	background-color: #f7efeb;
	background-image: url(../img/back2.png);
	padding: 1.0em; 
	font: Arial;
	width: 750px;
	max-width: 96%;
	margin: 0 auto;
		}
		
#search {
	position: absolute;
    bottom: 10px;
    
}	
h1 {
	position: relative;
	left: -15px;
	text-align: center;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	
}
a {
	color: #69C;
	text-decoration: none;
}

input {
 
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input[type=search] {
	background: #ededed url(../img/search_icon2.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 16px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
    box-shadow: 10px 10px 5px #888888;
}

#search input[type=search] {
	width: 16px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search input[type=search]:hover {
	background-color: white;
}
#search input[type=search]:focus {
	width: 130px;
	padding-left: 40px;
	color: #000;
	background-color: white;
	cursor: auto;
}
#search input:-moz-placeholder {
	color: transparent;
}
#search input::-webkit-input-placeholder {
	color: transparent;
}
  
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

li a {
	display:block;
	min-width:140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: white;
	background: #32a9c3;
	text-decoration: none;
	border-radius: 15px;

}

li:hover a {
	background: #4DD5C9;
}

li:hover ul a {
	background: #E0E0E0;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

li:hover ul a:hover {
	background: #4DD5C9;
	color: #fff;
}



li ul {
	display: none;
}

li ul li {
	display: block;
	float: none;
}

li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

.show-menu {
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #4DD5C9;
	text-align: center;
	padding: 10px 0;
	display: none;
	border-radius: 15px;
}
label:hover{
	background: #C1C6CB;
	color: #4DD5C9;
}
input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width : 1280px){
	ul {
		position: static;
		display: none;
	}
	li {
		margin-bottom: 1px;
	}
	ul li, li a {
		width: 100%;
	}
	.show-menu {
		display:block;
		
	}
}